.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: 'Sinerva Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Sinerva Regular'), url('Sinerva.woff') format('woff');
  }

  @font-face {
    font-family: 'Ace Sans FREE';
    font-style: normal;
    font-weight: normal;
    src: local('Ace Sans FREE'), url('AceSansFree-2O2LX.woff') format('woff');
    }

  h4 {
      font-family: 'Sinerva Regular';
      font-weight: 200;
      font-size: xx-large;
      color: #ffffff;
  }

  button {
    font-family: 'Ace Sans FREE';
      font-weight: 200;
      color: #000000;
  }

  p {
    font-family: 'Ace Sans FREE';
      font-weight: 200;
      font-size: x-large;
      color: #000000;
  }